/.gradle/
/.idea/
/build/intermediates/lint-cache/
/release/
/FirefdsKit.iml
/local.properties
/firefdskit/build/
/firefdskit/firefdskit.iml
/firefdskit/gradle.properties
/firefdskit/debug/
/firefdskit/release/
