# Default ignored files
/.idea
/.gradle
/build
/release
/firefdskit/build/
/firefdskit/firefdskit.iml
/firefdskit/gradle.properties
/FirefdsKit.iml
/local.properties
/firefdskit/release/
/firefdskit/debug/
